#main_t_r_box__ {
  position: relative;
  margin-left: -60px;
  margin-right: 10px;
}

.main_t_r_box_npay {
  width: 26px;
  height: 26px;
  position: absolute;
  top: -100px;
  right: 75px;
  overflow: visible;
}

.main_t_r_ico_npay {
  background-image: url("../image/header_naverpay.png");
  width: 30px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.main_t_r_ico_npay:hover {
  cursor: pointer;
}

.main_t_r_box_npay::before {
  content: "";
  /* 가상요소 내용 */
  position: absolute;
  top: -6px;
  left: -5px;
  width: 40px;
  height: 40px;
  background-color: rgba(180, 172, 172, 0.5);
  border-radius: 50%;
  opacity: 0;
  /* 초기투명도 */
  transition: opacity 0.3s;
  /* 부드러운 애니메이션 효과 */
  pointer-events: none;
}

.main_t_r_box_npay:hover::before,
.main_t_r_box_npay:hover::after {
  opacity: 1;
}

.main_t_r_box_npay::after {
  content: "";
  position: absolute;
  top: 35px;
  left: -24px;
  width: 80px;
  height: 40px;
  background-image: url("../image/header_top_right_naverpay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.main_t_r_box_bell {
  width: 26px;
  height: 26px;
  top: -101px;
  right: 10px;
  position: absolute;
  overflow: visible;
}

.main_t_r_ico_bell {
  background-image: url("../image/header_alarm.png");
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.main_t_r_ico_npay:hover,
.main_t_r_ico_bell:hover {
  cursor: pointer;
}

.main_t_r_box_bell::before {
  content: "";
  /* 가상요소 내용 */
  position: absolute;
  top: -6px;
  left: -7.5px;
  width: 40px;
  height: 40px;
  background-color: rgba(180, 172, 172, 0.5);
  border-radius: 50%;
  opacity: 0;
  /* 초기투명도 */
  transition: opacity 0.3s;
  /* 부드러운 애니메이션 효과 */
  pointer-events: none;
}

.main_t_r_box_bell:hover::before,
.main_t_r_box_bell:hover::after {
  opacity: 1;
}

.main_t_r_box_bell::after {
  content: "";
  position: absolute;
  top: 35px;
  left: -26px;
  width: 80px;
  height: 42px;
  background-image: url("../image/header_top_right_alarm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

