.main_t_l_box {
  width: 26px;
  height: 26px;
  padding: 10px;
  padding-left: 20px;
  position: relative;
  overflow: visible;
}

.main_t_l_btn {
  background-image: url("../image/header_topleft_menu.png");
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.main_t_l_btn:hover {
  cursor: pointer;
}

.main_t_l_btn::before {
  content: "";
  /* 가상요소 내용 */
  position: absolute;
  top: 6px;
  left: 13px;
  width: 40px;
  height: 40px;
  background-color: rgba(180, 172, 172, 0.5);
  border-radius: 50%;
  opacity: 0;
  /* 초기투명도 */
  transition: opacity 0.3s;
  /* 부드러운 애니메이션 효과 */
  pointer-events: none;
}

.main_t_l_btn::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0px;
  width: 70px;
  height: 40px;
  background-image: url("../image/header_topleft_menu_shortcuts.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.main_t_l_btn:hover::before,
.main_t_l_btn:hover::after {
  opacity: 1;
}

.main_t_l_btn:focus::before {
  opacity: 1;
}

.main_t_l_btn:focus::after {
  opacity: 0;
}