#top_left_button_menu {
  position: relative;
  width: 400px;
  height: 740px;
  padding: 6px;
  top: -210px;
  left: 0px;
  background-color: rgb(248,251,252);
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  border-radius: 10px;
}

#top_left_button_iframe {
  overflow: hidden;
  height: 740px;
  width: 404px;

}


#top_left_button_menu.show {
  opacity: 1;
  visibility:visible;
}
#top_left_button_menu1 {
  margin-top: 13px;
}

#top_left_button_menu1,
#top_left_button_menu2,
#top_left_button_menu3,
#top_left_button_menu4,
#top_left_button_menu5,
#top_left_button_menu6,
#top_left_button_menu7,
#top_left_button_menu8,
#top_left_button_menu9,
#top_left_button_menu10,
#top_left_button_menu11,
#top_left_button_menu12,
#top_left_button_menu13,
#top_left_button_menu14 {
  margin-bottom: 20px;
}

#top_left_button_menu4,
#top_left_button_menu5,
#top_left_button_menu6,
#top_left_button_menu7,
#top_left_button_menu8,
#top_left_button_menu9,
#top_left_button_menu10,
#top_left_button_menu11,
#top_left_button_menu12,
#top_left_button_menu13 {
  border: 1px solid #ddd;
  border-radius: 15px;
}


#top_left_button_menu4,
#top_left_button_menu5,
#top_left_button_menu6,
#top_left_button_menu7,
#top_left_button_menu8,
#top_left_button_menu9,
#top_left_button_menu10,
#top_left_button_menu11,
#top_left_button_menu12,
#top_left_button_menu13,
#top_left_button_menu14 {
  background-color: white;
}



#top_left_button_menu1,
#top_left_button_menu2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.menu_font_bold {
  font-weight: 900;
}

#top_left_button_menu1,
#top_left_button_menu2,
#top_left_button_menu3 {
  font-size: 1.3rem;
}

#top_left_button_menu_table {
  table-layout: fixed;
  font-size: 1rem;
  width: 100%;
  border-collapse: collapse;
}

#icon_td {
  padding-top: 10px;
  padding-left: 13px;
}

.login_table tr td{
  text-align: center;
}

.caption_font_bold {
  background-color: rgb(238, 242, 249);
  font-weight: 700;
  font-size: 1.2rem;
  height: 40px;
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.menu14_font_bold {
  font-weight: 600;
  padding-left: 10px;
}

.caption_font_number {
  color: rgb(83,125,226);
}

.login_table_img {
  height: 50px;
  width: 50px;
  margin-bottom: -4px;
}

.service_search {
  line-height: 33px;
  font-size: 1rem;
  float: right;
}

.service_search_icon {
  height: 15px;
  width: 15px;
}

.service_search {
  cursor: pointer;
}

.top_left_button_menu_icon {
  height: 40px;
  width: 40px;
}

.top_left_button_menu_icon_text {
  display: inline-block;
  position: relative;
  top: -13px;
  left: 2px;
}

#top_left_button_footer {
  position: relative;
  text-align: center;
  left: -12px;
}

#top_left_service_search_area {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
#top_left_service_search {
  margin-top: 10px;
  margin-left: 13px;
}

#top_left_service_search_box {
  display: flex;
  border: 1px solid rgb(126, 233, 126);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 360px;
  height: 45px;
  justify-content: center;
  align-items: center;
}

#top_left_service_search_back {
  width: 19px;
  height: 16px;
  margin-right: 40px;
  cursor: pointer;
}

#top_left_service_search_input {
  position: relative;
  width: 260px;
  height: 35px;
  border: none;
  left: -25px;
  font-size: 1rem;
}

#top_left_service_search_area li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#hangle_ga img {
  margin-right: 10px;
}