.main_t_m_box {
  display: flex;
  margin: 0 auto;
  width:600px;
  height: 60px;
  border: 2px solid rgb(126, 233, 126);
  border-radius: 50px;
  text-align: center;
}

.main_t_m_input {
  width: 400px;
  height: 24px;
  padding: 17px;
  font-size: 1.5rem;
  border: none;
  outline: none;
}


.main_t_m_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_t_m_ico_nlogo__ {
  position: relative;
  top: -5px;
  left: -23px;
}

#main_t_m_line__ {
  position: relative;
  top: -2px;
  left: -20px;
}

.main_t_m_line_vert {
  color: #ddd;
}

.main_t_m_input {
  position: relative;
  left: -10px;
}

.main_t_m_input::placeholder {
  font-size: 1.3rem;
}

.main_t_m_ico_nlogo_svg {
  width: 50%;
  height: 50%;
  padding-top: 14px;
}

.main_t_m_ico_keyboard {
  width: 28px;
  height: 17px;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url("../image/main_t_m_ico_keyboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: -50px;
}

.main_t_m_ico_keyboard::after {
  content: "";
  position: absolute;
  top: 24px;
  left: -21px;
  width: 70px;
  height: 40px;
  background-image: url("../image/header_searchbox_keyboard_float.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 10000;
}

.main_t_m_ico_triangle {
  width: 5px;
  height: 9px;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url("../image/main_t_m_ico_triangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: -35px;
  top: 1px;
}

.main_t_m_ico_glass {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url("../image/main_t_m_ico_glass.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: -17px;
}

.main_t_m_ico_keyboard:hover::after {
  opacity: 1;
}

.main_t_m_hid_box_triangle {
  position: relative;
  display: none;
  width: 480px;
  height: 35px;
  background-color: rgb(255, 248, 245);
  left: 400px;
  top: -55px;

  border: 3px solid rgb(126, 233, 126);
  border-top: none;
  text-align: left;
  z-index: 1000;
}


.main_t_m_hid_box_triangle a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  line-height: 33px;
  text-decoration: none;
}

.main_t_m_hid_box_triangle a:hover {
  text-decoration: underline;
  color: rgb(209, 159, 255);
}

.main_t_m_hid_box_triangle span {
  font-size: 0.9rem;
}

#main_t_m_box_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_t_m_box_nav_box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 600px;
}

.main_t_m_link,
.main_t_m_btn {
  display: inline-block;
}

.text_box_under_menu_area_show {
  margin-top: 9px;
  background-color: white;
  border: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 600px;
  height: 80px;
}

#main_t_m_hid_box {
  position: relative;
  width: 600px;
  height: 260px;
  background-color: rgb(250,251,251);
  z-index: 9999;
  border: 1px solid #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: -1px;
  left: 339px;
  display: none;
}
#main_t_m_hid_box_box {
  margin-bottom: -15px;
}
#main_t_m_hid_txt_allservice {
  left: -250px;
  font-weight: 900;
  margin-left: 20px;
}

#main_t_m_hid_list {
  width: 530px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.main_t_m_hid_list_list {
  display: flex;
  align-items: center;
  width: 25%;
  box-sizing: border-box;
  text-align: center;
}

.main_t_m_hid_ico {
  width: 30px;
  height: 30px;
}

.main_t_m_hid_txt {
 margin-left: 10px;
}

.main_t_m_link {
  text-decoration: none;
}

.main_t_m_btn_txt {
  margin-top: 60px;
  font-size: 0.68rem;
}

#main_t_m_btn_mail {
  background-image: url("../image/header_mail.png");
}

#main_t_m_btn_cafe {
  background-image: url("../image/header_cafe.png");
}

#main_t_m_btn_blog {
  background-image: url("../image/header_blog.png");
}

#main_t_m_btn_shop {
  background-image: url("../image/header_shopping.png");
}

#main_t_m_btn_news {
  background-image: url("../image/naver_news.png");
}

#main_t_m_btn_stock {
  background-image: url("../image/header_stock.png");
}

#main_t_m_btn_estate {
  background-image: url("../image/header_estate.png");
}

#main_t_m_btn_map {
  background-image: url("../image/naver_map.png");

}

#main_t_m_btn_webtoon {
  background-image: url("../image/header_webtoon.png");
}

#main_t_m_btn_etc {
  background-image: url("../image/header_hotkey_allservice.png");
}

.main_t_m_btn {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 200;
}

.main_t_m_btn_mail:hover,
.main_t_m_btn_cafe:hover,
.main_t_m_btn_blog:hover,
.main_t_m_btn_shop:hover,
.main_t_m_btn_news:hover,
.main_t_m_btn_stock:hover,
.main_t_m_btn_estate:hover,
.main_t_m_btn_map:hover,
.main_t_m_btn_webtoon:hover,
.main_t_m_btn_etc:hover {
  box-shadow: 2px 2px 2px rgba(25, 50, 50, 0.7);
}